@media (max-width: 375px){
    .header{
        padding-left: 6px;
        padding-right: 6px;
        &__item{
            &--registration{
                display: none;
            }
            &--cart{
                display: none;
            }
            &--menu{
                margin-right: 0;
            }
        }
    }
    .cart{
        &__left{
            width: 100%;
        }
        &__item{
            width: 100%;
            max-height: 188px;
        }
        &__wrap{
            justify-content: center;
            column-gap: 10px;
        }
        &__text{
            & h2{
                font-size: 16px;
                line-height: 19px;  
            }
            & p{
                font-size: 14px;
                line-height: 17px;
            }
        }
        &__img{
            &--close{
                margin-top: 18px;
                margin-right: 12px;
                height: auto;
                width: 10px;
            }
        }
        &__quantity{
            & label{
                font-size: 14px;
                line-height: 17px;
            }
        }
        &__btn{
            & p{
                font-size: 12px;
                line-height: 14px;   
            }
            &--position{
                height: 33px;
                width: 175px;
            }   
        }
    }
    .navigation{
        &__wrap{
            &--center{
                display: flex;
                justify-content: center;
            }
        }
    }
    .intro{
        &__wrap{
            min-height: 363px;
            background:none;
            justify-content: center;
            &--catalog{
                flex-direction: column;
                justify-content: space-between;
                padding-top: 24px;
                padding-bottom: 46px;
            }
        }
        & h1{
            font-size: 38px;
            line-height: 46px;
        }
        & h3{
            font-size: 20px;
            line-height: 24px;
        }
    }
    .category{
        margin-top: 64px;
        &__wrap{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            &:not(:last-child){
                width: 100%;
                min-height: 248px;
                margin: 0 0 32px 0;
            }
            &:last-child{
                min-height: 111px;
            }
            &--women{
                background-size: cover;
            }
            &--men{
                background-size: cover;
            }
            &--kids{
                background-size: cover;
            }
            &--accesories{
                background-size: cover;
            }
        }
        
    }
    .selector{
        &__dropdown{
            & summary{
                font-size: 10px;
                line-height: 12px; 
            }
        }
        &__img{
            & img{
                max-width: 375px;
            }
             
        }
        &__text{
            & p{
                padding: 0 19px;
            }
        }
    }
    .product{
        margin-top: 64px;
        &__svg{
            &--filter{
                width: 37px;
                height: 25px;
            }
        }
        &__card{
            &--gone{
                display: none;
            }
        }
        &__filter{
            & h6{
                display: none;
            }

        }
        &__right{
            width: 250px;
            & summary{
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    .conditions{
        &__wrap{
            flex-direction: column;
        }
        &__item{
            margin-top: 48px;
            &:last-child{
                margin-bottom: 48px;
            }
        }
        &__btn{
            margin-top: 40px;
        }
    }
    .subscribe{
        &__wrap{
            padding: 64px 0 140px;
            min-height: 614px;
            flex-direction: column;
        }
        &--margin{
            margin-top: 100px;
        }
    }
    .registration{
        margin-top: 40px;
        flex-direction: column;
        &__right{
            margin-top: 40px;
            max-width: 354px;
            & h1{
                font-size: 16px;
                line-height: 19px;
            }
            & p{
                font-size: 16px;
                line-height: 19px;
            }
            & li{
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
    .footer{
        padding:0 22px;
        &__wrap{
            flex-direction: column-reverse;
        }
        &__left{
            margin-top: 40px;
            margin-bottom: 9px;
        }
        &__right{
            margin-top: 43px;
        }
    }
}